.edit-pagina-inicial {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}

.edit-jogos {
    width: 50%;
}

.edit-boletim {
    width: 50%;
}