.content-boletim {
    height: inherit;
    width: 40%;
    border-radius: 30px;
    padding: 2%;
    margin: 40px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-header {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-tipo-aposta {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.edit-lista-jogos {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.edit-lista-jogo {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.edit-tipo-jogo {
    height: 20%;
    width: 100%;
    border: 2px gray solid;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding: 10px;
}

.edit-tipo-odds{
    border: 2px gray solid;
    margin-top: 1px;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding: 20px;
}

.edit-tipo-odd {
    width: 70px;
    justify-content: center;
    border-radius: 8px;
    display: flex;
    border: 2px black solid;
}

.edit-total-odd {
    height: 10%;
    width: 100%;
    display: flex;
    border: 2px black solid;
    column-gap: 30px;
    padding-left: 40px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.edit-odd-total {
    width: auto;
    justify-content: center;
    border-radius: 8px;
    display: flex;
    border: 2px black solid;
    padding: 9px;
    gap: 10px;
}

.edit-valor-total {
    width: 100px;
    justify-content: center;
    display: flex;
    border: 2px black solid;
    padding: 9px;
    gap: 10px;
}

.edit-total-ganho{
    height: 10%;
    width: 100%;
    border: 2px black solid;
    margin-top: 3px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
}

.edit-ganhos {
    width: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    padding: 9px;
    gap: 10px;
}
