/* ============================================= */
/*                    OUTLINE                    */
/* ============================================= */
.btn--outline--medium {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;

    padding: 8px 20px;
    font-size: 18px;
}
.btn--outline--large {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;

    padding: 12px 26px;
    font-size: 20px;
}
.btn--outline--medium:hover,
.btn--outline--large:hover {
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}

/* ============================================= */
/*                    PRIMARY                    */
/* ============================================= */
.btn--primary--medium {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: #fff;
    color: #242424;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;

    padding: 8px 20px;
    font-size: 18px;
}
.btn--primary--large {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: #fff;
    color: #242424;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;

    padding: 12px 26px;
    font-size: 20px;
}
.btn--primary--medium:hover{
    padding: 12px 14px;
    background: transparent;
    border: 1px solid transparent;
    color: #242424;
    transition: all 0.3s ease-out;
}
.btn--primary--large:hover {
    padding: 12px 18px;
    background: transparent;
    border: 1px solid transparent;
    color: #242424;
    transition: all 0.3s ease-out;
}

/* ============================================= */
/*                OUTLINE ORANGE                 */
/* ============================================= */
.btn--outline--orange--medium {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;

    padding: 8px 20px;
    font-size: 18px;
}
.btn--outline--orange--large {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;

    padding: 12px 26px;
    font-size: 20px;
}

.btn--outline--orange--medium:hover,
.btn--outline--orange--large:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #FF7300;
    transition: all 0.3s ease-out;
}

/* ============================================= */
/*                PRIMARY ORANGE                 */
/* ============================================= */
.btn--primary--orange--medium {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: #FF7300;
    color: #fff;
    border: 1px solid #FF7300;
    transition: all 0.3s ease-out;

    padding: 8px 20px;
    font-size: 18px;
}
.btn--primary--orange--large {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: #FF7300;
    color: #fff;
    border: 1px solid #FF7300;
    transition: all 0.3s ease-out;

    padding: 12px 26px;
    font-size: 20px;
}
.btn--primary--orange--medium:hover{
    padding: 12px 14px;
    background: transparent;
    border: 1px solid transparent;
    color: #FF7300;
    transition: all 0.3s ease-out;
}
.btn--primary--orange--large:hover {
    padding: 12px 18px;
    background: transparent;
    border: 1px solid transparent;
    color: #FF7300;
    transition: all 0.3s ease-out;
}
/* ============================================= */
/*                OUTLINE GREEN                  */
/* ============================================= */
.btn--outline--green--medium {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;

    padding: 8px 20px;
    font-size: 18px;
}
.btn--outline--green--large {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;

    padding: 12px 26px;
    font-size: 20px;
}
.btn--outline--green--medium:hover,
.btn--outline--green--large:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #116530;
    transition: all 0.3s ease-out;
}

/* ============================================= */
/*                PRIMARY GREEN                  */
/* ============================================= */
.btn--primary--green--medium {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: #116530;
    color: #fff;
    border: 1px solid #116530;
    transition: all 0.3s ease-out;

    padding: 8px 20px;
    font-size: 18px;
}
.btn--primary--green--large {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: #116530;
    color: #fff;
    border: 1px solid #116530;
    transition: all 0.3s ease-out;

    padding: 12px 26px;
    font-size: 20px;
}
.btn--primary--green--medium:hover{
    padding: 12px 14px;
    background: transparent;
    border: 1px solid transparent;
    color: #116530;
    transition: all 0.3s ease-out;
}
.btn--primary--green--large:hover {
    padding: 12px 18px;
    background: transparent;
    border: 1px solid transparent;
    color: #116530;
    transition: all 0.3s ease-out;
}

/* ============================================= */
/*   PRIMARY GRAY WIHTOUT BORDER RADIUS          */
/* ============================================= */
.btn--primary--gray--medium {
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: white;
    color: black;
    transition: all 0.3s ease-out;

    padding: 8px 30px;
    font-size: 20px;
}
.btn--primary--gray--large {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: white;
    color: black;
    transition: all 0.3s ease-out;

    padding: 12px 30px;
    font-size: 30px;
}
.btn--primary--gray--medium:hover{
    padding: 10px 20px;
    background: black;
    color: white;
    transition: all 0.3s ease-out;
}
.btn--primary--gray--large:hover {
    padding: 12px 18px;
    background: black;
    color: white;
    transition: all 0.3s ease-out;
}
.btn--primary--gray--medium:active{
    padding: 10px 20px;
    background: black;
    color: white;
    transition: all 0.3s ease-out;
}
.btn--primary--gray--large:active {
    padding: 12px 18px;
    background: black;
    color: white;
    transition: all 0.3s ease-out;
}

/* ============================================= */
/*                 CIRCLE GREEN                  */
/* ============================================= */

.btn--circle--green--small {
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: transparent;
    color: #116530;
    border: 1px solid #116530;
    transition: all 0.4s ease-out;

    padding: 5px 18px;
    font-size: 12px;
}
.btn--circle--green--small:hover {
    background: transparent;
    border: none;
    color: #116530;
    font-size: 18px;
    transition: all 0.4s ease-out;
}

/* ============================================= */
/*                 CIRCLE GREEN                  */
/* ============================================= */

.btn--circle--green--tiny {
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: transparent;
    color: #116530;
    border: 1px solid #116530;
    transition: all 0.4s ease-out;

    padding: 3px 10px;
    font-size: 8px;
}
.btn--circle--green--tiny:hover {
    background: transparent;
    border: none;
    color: #116530;
    font-size: 12px;
    transition: all 0.4s ease-out;
}

/* ============================================= */
/*                 SIMPLE X BUTTON               */
/* ============================================= */

.btn--x--gray--medium {
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;

    background-color: transparent;
    transition: all 0.4s ease-out;

    padding: 7px 14px;
    font-size: 20px;
}
.btn--x--gray--medium:hover {
    background: gray;
    border: none;
}