:root{
    --primary: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}
.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--white {
    background-color: #fff;
    color: #FF7300;
    border: 1px solid #FF7300;
    transition: all 0.3s ease-out;
}

.btn--orange {
    background-color: #FF7300;
    color: #fff;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
}

.btn--large {
    display: flex;
    padding: 30px 30px;
    font-size: 40px;
}

.btn--medium:hover, .btn--large:hover {
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}

.btn--white:hover {
    background: #FF7300;
    color: #fff;
    transition: all 0.3s ease-out;
}

.btn--levantar-depositar{
    border-radius: 15px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 5px 30px;
    font-size: 40px;
    background-color: #FF7300;
    color: #fff;
    transition: all 0.3s ease-out;
}
.btn--levantar-depositar:hover{
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 5px 10px;
    font-size: 40px;
    background-color: white;
    color: #FF7300;
    transition: all 0.3s ease-out;
}

.btn--transacoes{
    background:none; 
    text-decoration: none;
    color: #242424;
    border:none; 
    cursor: pointer;
    text-align: center;
    display: flex;
    padding: 5px 10px;
    font-size: 25px;
}
.btn--transacoes:hover{
    background-color: green;
    transition: all 0.3s ease-out;
}
