.container {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #E0E0E0;
    position: absolute;
}

.box-container {
    height: 70%;
    width: 70%;
    border-radius: 5%;
    padding: 2%;
    margin: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-container h2{
    color: #116530;
    padding-bottom: 5px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back  {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.title-text {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 0px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: center;
    margin-right: 2rem;
    color: #116530;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.bet-type {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 30px;
}

.bets-container {
    padding-top: 30px;
    border-top: 1px dotted #242424;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.entry {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 30px;
    justify-content: center;
    text-align: left;
    align-items: center;
    padding: 15px 20px;
    border: 2px solid #116530;
    border-radius: 30px;
}

.jogo {
    padding: 5px 10px;
    border-right: 1px solid #116530;
}

.nome-jogo {
    color: #116530;
    font-weight: bold;
}

.resultado {
    margin-left: 20px;
}

.valores-txt {
    padding: 10px 5px;
}

.montante {
    color: #116530;
    font-weight: bold;
}

.ganho {
    color: #FF7300;
    font-weight: bold;
}

.empty-message {
    color: lightgray;
}

@media screen and (max-width: 740px) {
    .container {
        position: absolute;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: #E0E0E0;
        position: absolute;
    }
    
    .box-container {
        height: 70%;
        width: 70%;
        border-radius: 5%;
        padding: 2%;
        margin: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .box-container h2{
        color: #116530;
        padding-bottom: 5px;
        font-size: 18px;
    }
    
    .title-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .back  {
        justify-self: start;
        margin-left: 5px;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    
    .title-text {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-gap: 0px;
        list-style: none;
        text-align: center;
        width: 55vw;
        justify-content: center;
        margin-right: 2rem;
        color: #116530;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 22px;
    }

    /* TODO mudar a partir daqui */
    .bet-type {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 30px;
    }
    
    .bets-container {
        padding-top: 30px;
        border-top: 1px dotted #242424;
        display: flex;
        justify-content: center;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
    
    .entry {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 30px;
        justify-content: center;
        text-align: left;
        align-items: center;
        padding: 15px 20px;
        border: 2px solid #116530;
        border-radius: 30px;
    }
    
    .jogo {
        padding: 5px 10px;
        border-right: 1px solid #116530;
    }
    
    .nome-jogo {
        color: #116530;
        font-weight: bold;
    }
    
    .resultado {
        margin-left: 20px;
    }
    
    .valores-txt {
        padding: 10px 5px;
    }
    
    .montante {
        color: #116530;
        font-weight: bold;
    }
    
    .ganho {
        color: #FF7300;
        font-weight: bold;
    }
    
    .empty-message {
        color: lightgray;
    }
}
