/*
.table {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    overflow: hidden;
}

.thead {
    position: sticky;
    z-index: 100;
}

.tr-head {
    background: transparent;
    padding-bottom: 100px;
}

.th {
    padding: 5px 0px;
    border-bottom: 2px solid #116530;
    border-top: 2px solid #116530;
    color: #116530;
    font-weight: 600;
    font-size: 18px;
}

.tr-body {
    background: #fff;
    border-bottom: 1px dotted #116530;
}

.td {
    padding: 10px 0px;
    font-size: 16px;
}

.tr-body:hover{
    background: #cecece; TODO por mais claro
    transition: all 0.3s ease-out;
}

*/


.table {
    width: 100%;
    text-align: left;
}

.thead {
    display: block;
    border-bottom: 2px solid #116530;
    border-top: 2px solid #116530;
    color: #116530;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.tbody {
    width: 100%;
    max-height: 300px;
    height: 300px;
    overflow: scroll;
    display: block;
    scroll-behavior: smooth;
    font-size: 18px;
}

.tr-head,
.tr-body {
    display: block;
    width: 100%;
}

.th:nth-child(4),
.td:nth-child(4) {
    width: 250px;
    max-width: 250px;
}

.th:nth-child(3),
.td:nth-child(3) {
    width: 250px;
    max-width: 250px;
}

.th:nth-child(2),
.td:nth-child(2) {
    width: 250px;
    max-width: 250px;
}

.th:nth-child(1),
.td:nth-child(1) {
    width: 250px;
    max-width: 250px;
}


.table tbody > tr:nth-child(odd) {
    background-color: rgb(246, 246, 246);
}

.th {
    padding: 5px 0px;
    text-align: center;
    font-size: 18px;
}
.td {
    padding: 5px 0px;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 740px) {
    .table {
        width: 100%;
        text-align: left;
    }
    
    .thead {
        display: block;
        border-bottom: 2px solid #116530;
        border-top: 2px solid #116530;
        color: #116530;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }
    
    .tbody {
        width: 100%;
        max-height: 280px;
        height: 280px;
        overflow: scroll;
        display: block;
        scroll-behavior: smooth;
        font-size: 14px;
    }
    
    .tr-head,
    .tr-body {
        display: block;
        width: 100%;
    }
    
    .th:nth-child(4),
    .td:nth-child(4) {
        width: 150px;
        max-width: 150px;
    }
    
    .th:nth-child(3),
    .td:nth-child(3) {
        width: 150px;
        max-width: 150px;
    }
    
    .th:nth-child(2),
    .td:nth-child(2) {
        width: 150px;
        max-width: 150px;
    }
    
    .th:nth-child(1),
    .td:nth-child(1) {
        width: 150px;
        max-width: 150px;
    }
    
    
    .table tbody > tr:nth-child(odd) {
        background-color: rgb(246, 246, 246);
    }
    
    .th {
        padding: 5px 0px;
        text-align: center;
        font-size: 16px;
    }
    .td {
        padding: 5px 0px;
        text-align: center;
        font-size: 14px;
    }
}